{% extends 'base.html.twig' %}

{% block title %}Rooms - RentaRoom
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

{% endblock %}

{% block body %}
	{% include 'components/navbar.html.twig' %}
	<div class="text-center mt-3">
		<h2>Search Results :</h2>
	</div>
	{% include 'components/_search_data.html.twig' with {
		form: form
	} only %}

	<main class="mb-5">
		<div class="container">
			<h1 class="mt-5">Rooms</h1>

			<form action="{{ path('rooms') }}" method="get">
    <input type="text" name="name" placeholder="Name">
    <input type="number" name="capacity" placeholder="Capacity">
    <input type="number" name="price" placeholder="Price">
    <select name="ergonomics">
        <option value="">--Select Ergonomics--</option>
        {% for ergonomic in ergonomics %}
            <option value="{{ ergonomic.id }}">{{ ergonomic.name }}</option>
        {% endfor %}
    </select>
    <select name="equipment">
        <option value="">--Select Equipment--</option>
        {% for equipment in equipments %}
            <option value="{{ equipment.id }}">{{ equipment.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Search</button>
</form>


			<div class="row card-container">
				{% for room in rooms %}
					<div class="col-md-4 d-flex">
						<div class="card mb-4 shadow-sm min-card-height d-flex flex-column">
							<img src="{{ asset('images/') ~ room.imageMain }}" alt="{{ room.title }}" class="card-img-top">
							<div class="card-body d-flex flex-column">
								<h5 class="card-title">{{ room.title }}</h5>
								<p class="card-text">{{ room.description|slice(0, 150) }}
									{% if room.description|length > 80 %}...
									{% endif %}
								</p>
								<p>Capacity: {{ room.capacity }}</p>
								<!-- Affichage des classes Ergonomy et Equipment -->

								<p>Ergonomy:
									{% for ergonomic in room.getErgonomics %}
										{{ ergonomic.getName }}
										<!-- Affiche le nom de l'ergonomie -->
										<img src={{ ergonomic.icone }}>
										<!-- Affiche l'icône de l'ergonomie -->
									{% endfor %}
								</p>
								<p>Equipment:
									{% for equipment in room.getEquipments %}
										{{ equipment.getName }}
										<!-- Affiche le nom de l'équipement -->
										<i class="{{ equipment.getIcone }}"></i>
										<!-- Affiche l'icône de l'équipement -->
									{% endfor %}
								</p>
								<div class="mt-auto">
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<a href="{{ path('room_show', {id: room.id}) }}" class="btn btn-sm btn-outline-secondary">Booking</a>

										</div>

										<p>Price:
											{{ room.price }}
											&euro;</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				{% endfor %}
			</div>

		</div>
	</main>
	{% include 'components/footer.html.twig' %}
{% endblock %}
