{# templates/rooms/show.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ room.title }}</h1>
    <p>{{ room.description }}</p>
    <p>Price: {{ room.price }}</p>
    <img src="{{ asset('images/') ~ room.imageMain }}" alt="{{ room.title }}">

    <h2>Book this room</h2>
    {{ form_errors(bookingForm) }}

				{{ form_start(bookingForm, {
                    attr:{
                        class: 'col-4 m-auto',
                    } 
                }) }}

				<div class="form-floating mb-2">
					{{ form_widget(bookingForm.dateIn, {
                            attr: {
                                class: 'form-control',
                            },
                        }) }}
					<label for="floatingInput">Date de début</label>
				</div>
                <div class="form-floating mb-2">
					{{ form_widget(bookingForm.dateOut, {
                            attr: {
                                class: 'form-control',
                            },
                        }) }}
					<label for="floatingInput">Date de fin</label>
				</div>
                <button type="submit" class="btn btn-primary">Réserver</button>

                {{ form_end(bookingForm) }}

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}