{# templates/rooms/show.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	{% include 'components/navbar.html.twig' %}
	<div class="d-flex justify-content-center align-items-center mt-5">
		<h1 class="text-primary">Conference Hall Booking</h1>
	</div>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card mb-4 shadow-sm">
					<img src="{{ asset('images/') ~ room.imageMain }}" alt="{{ room.title }}" class="card-img-top" width="200" height="500">
					<div class="card-body">
						<h1 class="card-title">{{ room.title }}</h1>
						<p class="card-text">{{ room.description }}</p>
						<p class="card-text">Price:
							{{ room.price }}
							&euro;</p>
					</div>
				</div>

				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
		{{ form_errors(bookingForm) }}

		{{ form_start(bookingForm, {
                    attr:{
                        class: 'col-4 m-auto',
                    } 
                }) }}

		<div class="form-floating mb-2">
			{{ form_widget(bookingForm.dateIn, {
                            attr: {
                                class: 'form-control',
                            },
                        }) }}
			<label for="floatingInput">Date de début</label>
		</div>
		<div class="form-floating mb-2">
			{{ form_widget(bookingForm.dateOut, {
                            attr: {
                                class: 'form-control',
                            },
                        }) }}
			<label for="floatingInput">Date de fin</label>
		</div>
		<button type="submit" class="btn btn-primary" style="margin-bottom: 3cm;">Réserver</button>
		{{ form_end(bookingForm) }}

{% endblock %}
